*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
nav{
    margin-top: 90px;
}
table{
    border: thick solid black ;
    width: 70%;
    height: 40vh;
    margin:  auto;

}
table tr td{
    border: thin solid black;
    box-shadow: 0 0 6px 6px rgb(162,159,154);
    color: rgb(217,70,13);
    gap: 30px;
    text-align: center;
    background-color: rgb(228,229,223);
    
    /* height: 40px; */
    border-radius: 4px;
}
 input{
    width: 70%;
    border: thin solid black;
    height: 9vh;
    border-radius: 10px 10px 0 0 ;
    margin:  auto;
    background-color: rgb(217,70,13) ;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    /* box-shadow: 0    0 10px 10px  rgb(217,70,13) ; */
}
h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(217,70,13) ;
}
p{
    font-size: 20px;
}
ol li{
    margin-left: 20px;
    font-size: 20px;
}
