*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    /* margin-top: 40px; */
    position: relative;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* padding-top: 40px; */
}
h1{
    color: greenyellow;
}
.title{
    color: yellowgreen;
    /* margin: 10px; */
    /* background-color: grey; */
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    border-right: 0.2em solid indigo;
}
.bottom{
    border-bottom: 0.2em solid indigo;
    
}
.strick{
    position: absolute;
    background-color: darkred;
}
.strick-row-1{
    width: 100%;
    height: 4px;
    top: 16%;
}
.strick-column-1{
    height: 100%;
    width: 4px;
    left: 15%;
}
.strick-row-2{
    width: 100%;
    height: 4px;
    top: 49%;
}
.strick-column-2{
    height: 100%;
    width: 4px;
    left: 48%;
}
.strick-row-3{
    width: 100%;
    height: 4px;
    top: 84%;
}
.strick-column-3{
    height: 100%;
    width: 4px;
    left: 83%;
}
.strick-diagonal-1{
    width: 90%;
    height: 4px;
    top: 51%;
    left: 5%;
    transform: skewY(45deg);
}
.strick-diagonal-2{
    width: 90%;
    height: 4px;
    top: 51%;
    left: 5%;
    transform: skewY(-45deg);
}
#game-over{
    text-align: center;
    border: indigo 8px solid;
    padding: 40px;
    /* margin-top: 50px; */
}
h2{
    color: greenyellow;
    font-size: 3em;
    margin-top: 0px;
}
button{
    background-color: transparent;
    color: greenyellow;
    border: greenyellow 1px solid;
    padding: 10px;
    font-size: 1.5em;

}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.x-hover:hover::after{
    content: "X";
    opacity: 0.4;
}
.o-hover:hover::after{
    content: "O";
    opacity: 0.4;

}