*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    margin: 0px;
    padding: 5px;
    padding-right: 36px;
    border: 0.1px solid;
    border-color: burlywood;
    background-color: whitesmoke;
    display: flex;
    position: static;
}
.quest{
    padding-top: 9px;
    padding-left: 70px;
}
.me{
    height: 40px;
    width: 380px;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid;
}
.top{
    display: flex;
}
.A img{
    width: 90px;
}
h1{
    font-size: 35px;
    font-family: monospace;
    margin: 4px;
    color:cornflowerblue;
}
.two{
    display: flex;
    margin: 15px;
    padding-left: 120px;
}
.mid{
    padding-right: 20px;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}

.build{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.884), rgba(255, 255, 255, 0.027)) ,url(boy.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    height: 400px;
}
h2{
    text-align: center;
    font-family: monospace;
    font-size: 100px;
    text-shadow: 90%;
    text-decoration:solid;
    color: white;
}
button{
    height: 30px;
    width: 200px;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid;
    font-size: 20px;
    font-family: monospace;
    background-color: azure;
    color: blue;
    font-weight: bold;
}
.poy{
    display: flex;
    padding-left: 400px;
    padding-top: 40px;
}
.mon{
    text-decoration: none;
}